{% extends 'layout.html' %}
{% load static %}


{% block content %}

<h4 class="mt-3"> Vagas de Estacionamento </h4>

<hr>


<table class="table">
    <thead>
        <tr>
            <th>Vaga</th>
            <th>Inicio</th>
            <th>Fim</th>
            <th>Status</th>            
        </tr>
    </thead>
    <tbody >
        {% for res in reserva %}
        <tr>
            <td>{{res.vaga}}</td>
            
            {% if res.inicio == '' %}
                <td>--/--/--</td>                 
            {% else %}
                <td>{{res.inicio}}</td> 
            {% endif%}
            
            {% if res.fim == '' %}
                <td>--/--/--</td>     
            {% else %}
                <td>{{res.fim}}</td>
            {% endif%}                        
            {% if res.status == '1' %}
                <td>Ocupada</td>
            {% else %}
                <td>Livre</td>
            {% endif%}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock  %}