{% extends 'layout.html' %}
{% load static %}


{% block content %}

<h4 class="mt-3">Vagas  </h4>

<hr>
<table class="table">
    <thead>
        <tr>
            <th>Descricao</th>
            <th>Vaga</th>   
        </tr>
    </thead>
    <tbody >
        {% for vag in vagas %}
        <tr>
            <td>{{vag.descricao}}</td>
            <td>{{vag.vaga}}</td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<a href="{% url 'vaga_novo' %}" class="btn btn-success" style="width: 150px;">Nova Vaga</a>
<a href="{% url 'inicio' %}" class="btn btn-danger" style="width: 150px;">Voltar</a>
{% endblock  %}